.add-category-container {
    width: 98%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000;
  }
  
  textarea {
    height: 100px;
  }
  
  .button-group {
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-items: center;


    /* justify-self: center; */

  }
  
  .add-category-container .button-group .submit-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #eb9d0d;
    color: white;
    cursor: pointer;
    margin-top: 30px;
  }
  
  .add-category-container .button-group .submit-btn:hover {
    background-color: #f0b429;
  }
  .add-category-container .button-group1 .submit-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #b3b3b3;
    color: white;
    cursor: pointer;
    
  }
  
  .add-category-container .button-group1 .submit-btn:hover {
    background-color: #e0e0e0;
  }

  .form-group-sub-can{
    display: flex;
    justify-content: center;
    gap: 10px;
    /* text-align: center  ; */


  }

  .form-group label {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #333;
  }
  /* Tùy chỉnh checkbox */
.form-group input[type="checkbox"] {
  appearance: none;
  width: 30px;
  height: 30px;
  border: 2px solid #007bff;
  border-radius: 4px;
  background-color: #fff;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.2s;
}

/* Khi checkbox được chọn */
.form-group input[type="checkbox"]:checked {
  background-color: #007bff;
  border-color: #007bff;
  position: relative;
}

/* Thêm dấu check khi chọn */
.form-group input[type="checkbox"]:checked::after {
  content: "✔";
  font-size: 14px;
  color: white;
  position: absolute;
  left: 4px;
  top: 1px;
  width: 120px;
}

/* Tạo hiệu ứng hover */
.form-group input[type="checkbox"]:hover {
  border-color: #0056b3;
}






/* 


  .add-category-container .button-group .cancel {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #8a8989;
    color: white;
    cursor: pointer;
  }
  
  .add-category-container .button-group .cancel:hover {
    background-color: #ebeae8;
  } */
