/* Container chính */
.profile-container {
    background: #fff;
    padding: 20px;
    margin: 40px auto;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 98%;
    /* max-width: 900px; */
}

/* Tiêu đề */
.profile-container h2 {
    margin-bottom: 5px;
    font-size: 22px;
}

.profile-container p {
    color: gray;
    font-size: 14px;
    margin-bottom: 15px;
}

/* Banner */
.profile-banner {
    background: linear-gradient(to right, #ff7e5f, #ffb347);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

/* Avatar */
.avatar-container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-banner .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* Tên User */
.username {
    font-size: 25px;
    color: white;
}

/* Form */
.profile-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 40px;
}

.profile-form .form-group {
    display: flex;
    flex-direction: column;
}

.profile-form .form-group label {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 18px;
}

.profile-form .form-group input {
    padding: 10px;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 5px;
    background: #faf9f9;
    cursor: not-allowed;
    font-size: medium;
    color: rgb(133, 133, 133);
}

.profile-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #ecbb7b;
    /* color: white; */
    font-size: 20px;
    /* cursor: pointer; */
}

.profile-form button:hover {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #e99221;
    /* color: white; */
    font-size: 20px;
    /* cursor: pointer; */
}