.page-wrapper {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 100vh; /* Chiều cao tối đa bằng với chiều cao màn hình */
    overflow-y: auto;
  }
  
  /* Heading styles */
  .page-wrapper h3 {
    font-weight: 600;
    color: #343a40;
    margin-bottom: 10px;
  }
  
  .page-wrapper p {
    font-size: 16px;
    color: #6c757d;
    margin-bottom: 20px;
  }

  .page-wrapper .table tr {
    height: 50px; /* Tăng chiều cao dòng */
  }

   /* Filter section container */
   .filter-container {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .filter-toggle {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #f0f0f0;
    color: black;
    border: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .filter-toggle:hover {
    background-color: #e6e2e2;
  }
  
  /* Styles for the filters when visible */
  .filters {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 100%;
  }
  
  .filters input,
  .filters select {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .filters input {
    width: 50%;
    background-color: rgb(255, 255, 255);
    /* bỏ viền trái, phải, trên */
    border-left: none;
    border-right: none;
    border-top: none;
    /* viền dưới màu đen */
    border-bottom: 1px srgb(54, 54, 54) rgb(35, 101, 201);
    font-size: 20px;
    color: #343a40;
  }
  
  .filters select {
    width: 80%;
    background-color: rgb(255, 255, 255);
    color: #343a40;
    border: #0056b3;
    font-size: 20px;
  }

  .table img {
    /* width: 100%; */
    height: 60px;
    width: 60px;
    object-fit: contain;
    text-align:left;
    margin-right: 10px;
    /* bo goc */
    /* border-radius: 30%; */
  
    /* border: 1px solid #770101; */
  }